// Your own styles
p {
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-family: 'Oswald', cursive;
    font-weight: 700;
    color:#343A40;
}
h2 {
    font-family: 'Bangers', cursive;
    font-size: 3em;

}
h5 {
    font-family: 'Oswald', sans-serif;
    color:#343A40;
}
li a {
    font-size: 1.5em;
    color: white;
}